@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);
* {
    margin: 0;
    padding: 0;
}

body {
    /*font-family: 'Press Start 2P', cursive;*/
    font-family: 'Share Tech Mono', monospace;
    background: #7a7a7a;
}

.blink_me {
    animation: blinker 1s linear infinite;
    padding-right: 20px;
    color: #aab5b4;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}


/*---------------Title-line----------------*/

.tag {
    text-align: center;
    font-size: 70px;
    /*font-family: 'Special Elite', cursive;*/
    font-family: 'VT323', monospace;
}


/*-------x--------Title-line--------x--------*/


/*--------------intro para---------------*/

.intro-para {
    /*font-family: 'Press Start 2P', cursive;*/
    font-family: 'VT323', monospace;
    /*font: 16px/20px 'Cutive Mono', serif;*/
    font-size: 200%;
    color: #008F11;
    overflow: none;
}

a {
    color: #222;
}

.wrap {
    width: 500px;
    margin: 30px auto;
    text-align: center;
}

.test {
    margin-top: 10px;
    text-align: left;
}


/*---------x-----intro para--------x-------*/


/*----------------block2 background-----------------*/

.block2 {
    background-color: #7a7a7a;
}


/*----------------end block2-----------------*/



.logo {
    max-width: 40%;
    height: auto;
    align-self: center;   
}

.content {
    padding: 10px;
    margin-left: 20px;
    margin-top: 30px;
    width: 60%;
    color: white;
    overflow: auto;
    height: auto;
}

.content h1 {
    color: cyan;
}

.box {
    display: flex;
    flex-direction: row;
    background-color: #030403;
    height: auto;
    width: 100%;
}

@media (max-width:600px) {
    .box {
        display: block;
        margin: 0;
        overflow-y: auto;
    }
    /*.logo{
        margin:0;
    }
    .logo img{
        position: relative;
        left:85%;
        align-self: center;
    }*/
    .content {
        margin: 0;
        width: 95vw;
        padding: 10px;
    }
    .content h1 {
        text-align: center;
    }
}

.btn-circle {
    border-radius: 15px;
}

.btn-circle.btn-lg {
    border-radius: 25px;
}

#card {
    background-color: #ffa14f;
}


/*@media (max-width:1050px) and (min-width:700px)
{
    .box{
        height:35vh;
    }
}*/

.icons{
    display: flex;
    /*margin-left: 20px;
    margin-top: 20px;
    */align-self:  center;
    /*height: auto;*/
    overflow: auto;
/*    background-image: url(../images/quote_left.png);
    background-repeat: no-repeat;*/
    /*background: url(../images/quote_left.png) top left no-repeat, url(../images/quote_right.png) top right no-repeat;*/
    /*padding: auto;*/
    /*margin: .2em auto;*/

    -moz-border-radius: 1em;
    border-radius: 1em;
/*
    border: 2px solid rgba(21,171,195,1.0);
    -moz-box-shadow: 0 0 5px rgba(21,171,195,1.0);
    -webkit-box-shadow: 0 0 5px rgba(21,171,195,1.0);
    box-shadow: 0 0 5px rgba(21,171,195,1.0);   */ 
}




a.button {
    background: transparent;
    border: 1px solid white;
    clear: both;
    color: #00dd00;
    cursor: hand;
    display: inline-block;
    font-family: 'VT323', Courier;
    font-size: 1.5em;
    margin-bottom: 20px;
    opacity: 0.25;
    padding: 10px 40px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 10;
}

a.button:hover {
    background: white;
    color: #383838;
    opacity: 0.8;
}

.read{
    height: auto;
    overflow: auto;
    padding: auto;
    align-self: left;
    -moz-border-radius: 2em;
    border-radius: 2em;
    background-color: black;
    border: 4px solid rgba(21,171,195,1.0);
    -moz-box-shadow: 0 0 10px rgba(21,171,195,1.0);
    -webkit-box-shadow: 0 0 10px rgba(21,171,195,1.0);
    box-shadow: 0 0 5px rgba(21,171,195,1.0);
}

.quote {
    margin-top: 30px;
    width: 100%;
    height: auto;
    overflow: auto;
    background-color: black;
    color: #24C6E0;
    /*background: url(../images/quote_left.png) top left no-repeat, url(../images/quote_right.png) top right no-repeat;*/
    font-size: 1.3em;
    text-indent: 1em;
    /*padding: 20px 50px 10px;*/
    margin: .2em auto;

    -moz-border-radius: 1em;
    border-radius: 1em;

    border: 2px solid rgba(21,171,195,1.0);
    -moz-box-shadow: 0 0 5px rgba(21,171,195,1.0);
    -webkit-box-shadow: 0 0 5px rgba(21,171,195,1.0);
    box-shadow: 0 0 5px rgba(21,171,195,1.0);
}



    /* keyboard */

.read .inverse {
    background-color: rgba(21,171,195,1.0);
    color: rgba(0,0,0,0.7);
}

.read .glow { 
    -webkit-box-shadow:0 0 5px rgba(21,171,195,1.0); 
    -moz-box-shadow: 0 0 5px rgba(21,171,195,1.0); 
    box-shadow:0 0 5px rgba(21,171,195,1.0); 
}
.read .roundy {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.read .keyboard-key {
    border: 1px solid rgba(21,171,195,1.0);
    display: inline;
    margin: 2px;
    padding: 0 5px;
    height: 20px;
}

.read .keyboard-key:hover {
    border: 1px solid rgba(36,198,224,1.0);
    background-color: rgba(36,198,224,1.0);
    -webkit-box-shadow:0 0 7px rgba(36,198,224,1.0); 
    -moz-box-shadow: 0 0 7px rgba(36,198,224,1.0); 
    box-shadow:0 0 7px rgba(36,198,224,1.0); 
}
.read .keyboard-key:active {
    border: 1px solid rgba(36,198,224,1.0);
    color: rgba(36,198,224,1.0);
    background-color: rgba(36,198,224,0.3);
    -webkit-box-shadow:0 0 7px rgba(36,198,224,1.0); 
    -moz-box-shadow: 0 0 7px rgba(36,198,224,1.0); 
    box-shadow:0 0 7px rgba(36,198,224,1.0); 
}    
